<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset your TickApp account password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="font-family: Verdana; background: rgb(242, 242, 242); padding: 15px;">
<div style="margin:0 auto; width: 80%; max-width: 500px; background: white; padding: 10px; color: black;">
    <p style="text-align: center;">
        <img style="width: 80px; height: 80px;" th:src="@{${iconUrl}}" />
    </p>
    <p style="color: black; font-size: 22px; font-weight: bold; padding-left: 50px; padding-right: 50px; text-align: center;">
        Hi <span th:text="${firstName}"></span>, Welcome
    </p>
    <p style="font-size: 17px; padding-left: 20px; padding-right: 20px;">
        An account has been created for you on TicketApp, use the detail below to login
        <br/><br/>
        Email: <span th:text="${email}"></span><br/>
        Password: <span th:text="${password}"></span><br/>
    </p>

    <p style="text-align: center; margin-top: 40px;">
        <a style="font-size: 16px; text-decoration: none; color: #333333; padding: 2px 6px 2px 6px; background: rgb(10, 108, 176); border-radius: 50px; color: white; padding: 1em 1.9em;" th:href="${baseFrontEndUrl}">Click here to Login</a>
    </p>

    <p style="font-size: 17px; padding-left: 20px; padding-right: 20px; margin-top: 40px;">
        If you did not make this change, or you need any additional assistance please contact <span  style="color: rgb(10, 108, 176);" th:text="${supportEmail}"></span>.
        <br/><br/>
        Cheers,<br/>
        TicketApp Team
    </p>
</div>

<p style="text-align: center; margin-top: 10px; font-size: 80%; color: gray;">
    Email sent by TicketApp<br/>Copyright &copy; 2024 TicketApp. All rights reserved.
</p>
<span style="display: none !important;" th:text="${date}" ></span>
</body>
</html>